package {{.Pkg}}

import (
  "time"
  "github.com/volatiletech/null/v9"
)


var (
  _ time.Time
  _ null.Bool
)


type {{.TitleName}} struct {
{{range .Fields}}  {{.TitleName}} {{.GoType}} `{{.Tag}}`
{{end -}}
}
